# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.NoWayGuys.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\u1\RiderProjects\NoWayGuys\.idea\.idea.NoWayGuys\.idea/dataSources/
/dataSources.local.xml